<div class="text-bg-primary p-3 my-4">
    <h4>{{title}}</h4>
</div>
{{#each fields}}
    <div class="mb-3">
        <h5><span class="badge text-bg-primary p-2">{{index}}</span> {{label}}</h5>
    {{#if (or
          (eq type "radio")
          (eq type "select"))}}
        {{#each options}}
            <p id="{{...name}}" class="options d-none">{{label}}</p>
        {{/each}}
    {{else}}
        <p id="{{name}}"></p>
    {{/if}}
    </div>
{{/each}}
